{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="/css/jquery.datepick.css"> 
<link rel="stylesheet" href="/css/citySelector.css">
<script type="text/javascript" src="/js/jquery.plugin.js"></script> 
<script type="text/javascript" src="/js/jquery.datepick.js"></script>
<script type="text/javascript" src="/js/citySelector.js"></script>
{% endblock %}
{% block main %}

<div class="posts">
	<h1 class="content-subhead">Route</h1>
	<section class="post">
		<header class="post-header">
			<h2 class="post-title">选择路线</h2>
		</header>
		<div class="post-description">
			<p>
<form class="pure-form pure-form-aligned" name="input" action="/submit" method="post">
	<fieldset>
		<div class="pure-control-group">
			<label for="source">出发地</label>
			<input type="text" class="cityinput" id="dcitySelect" name="source" value="{{ source|default('北京') }}">
		</div>
		<div class="pure-control-group">
			<label for="source">目的地</label>
			<input type="text" class="cityinput" id="acitySelect" name="destination" value="{{ destination|default('上海') }}">
		</div>
		<div class="pure-control-group">
			<label for="source">时间</label>
			<input type="text" id="datepicker" name="date" value="{{ date|default('2015-05-08') }}">
		</div>
		<div class="pure-controls">
			<button class="pure-button pure-button-primary">查询</button>
		</div>
	</fieldset>
</form> 
			</p>
		</div>
	</section>
</div>

{% block content %}{% endblock %}
{% endblock %}

{% block tail %}
<script>
$('#datepicker').datepick({dateFormat: 'yyyy-mm-dd'});
var dcs=new Vcity.CitySelector({input:'dcitySelect'});
var acs=new Vcity.CitySelector({input:'acitySelect'});
</script>
{% endblock %}

