{% extends "base.html" %}
{% block main %}
<p>
付款成功！你的电子机票如下： <br>
<table class="pure-table">
	<tbody>
	<tr class="pure-table-odd">
		<td>航班编号</td>
		<td>{{ results['flight'] }}</td>
	</tr>
	<tr>
		<td>航空公司</td>
		<td>{{ results['company_name'] }}</td>
	</tr>
	<tr class="pure-table-odd">
		<td>登机日期</td>
		<td>{{ results['flight_date'] }}</td>
	</tr>
	<tr>
		<td>起飞时间</td>
		<td>{{ results['dtime'] }}</td>
	</tr>
	<tr class="pure-table-odd">
		<td>出发地</td>
		<td>{{ results['dairport'] }}</td>
	</tr>
	<tr>
		<td>目的地</td>
		<td>{{ results['aairport'] }}</td>
	</tr>
	<tr class="pure-table-odd">
		<td>姓名</td>
		<td>{{ results['name'] }}</td>
	</tr>
	<tr>
		<td>性别</td>
		<td>{{ results['gender'] }}</td>
	</tr>
	<tr class="pure-table-odd">
		<td>身份证号</td>
		<td>{{ results['card'] }}</td>
	</tr>
	</tbody>
</p>
<p>
<a href="/book">继续订</a>
</p>

{% endblock %}
