{% extends "base.html" %}
{% block main %}

<div class="posts">
	<h1 class="content-subhead">Result</h1>
	<section class="post">
		<header class="post-header">
			<h2 class="post-title">交易结果</h2>
		</header>
		<div class="post-description">
			<p>
			付款成功！你的电子机票如下：</p>
			<p>
<table class="pure-table">
	<tbody>
	<tr class="pure-table-odd">
		<td>航班编号</td>
		<td>{{ results['flight'] }}</td>
	</tr>
	<tr>
		<td>航空公司</td>
		<td>{{ results['company_name'] }}</td>
	</tr>
	<tr class="pure-table-odd">
		<td>登机日期</td>
		<td>{{ results['flight_date'] }}</td>
	</tr>
	<tr>
		<td>起飞时间</td>
		<td>{{ results['dtime'] }}</td>
	</tr>
	<tr class="pure-table-odd">
		<td>出发地</td>
		<td>{{ results['dairport'] }}</td>
	</tr>
	<tr>
		<td>目的地</td>
		<td>{{ results['aairport'] }}</td>
	</tr>
	<tr class="pure-table-odd">
		<td>姓名</td>
		<td>{{ results['name'] }}</td>
	</tr>
	<tr>
		<td>性别</td>
		<td>{{ results['gender'] }}</td>
	</tr>
	<tr class="pure-table-odd">
		<td>身份证号</td>
		<td>{{ results['card'] }}</td>
	</tr>
	</tbody>
</table>
</p>
			</p>
		</div>
	</section>
</div>

<div class="posts">
	<h1 class="content-subhead">Tips</h1>
	<section class="post">
		<header class="post-header">
			<h2 class="post-title">返回提示</h2>
		</header>
		<div class="post-description">
			<p>
			你可以<a href="/book">重新开始订票</a>，或者关闭页面。
			</p>
		</div>
	</section>
</div>

{% endblock %}
